@import './core/all';

@import '../../node_modules/@gregoranders/react-spinner/dist/styles';

body {
  padding: 0 !important;
}

header {
  h1 {
    color: $color-theme-dark !important;
    text-shadow: 2px 2px 4px lighten($color-theme-dark, 50%);
    font-weight: 900;
    margin: 0;
    padding: 0;
    a {
      text-decoration: none;
    }
  }
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.bootstrap,
.spinner {
  > h1 {
    &.dots {
      color: $color-theme-d3;
      font-size: 15em;
      font-weight: 900;
      text-shadow: 4px 4px 8px lighten($color-theme-dark, 50%);
    }
  }
}

main {
  height: 90vh;
}

table {
  width: 100%;

  > tr {
    vertical-align: top;

    > td {
      &:nth-child(3) {
        vertical-align: bottom;
      }
    }
  }
}
